name: Integrate

on:
  push:
    branches:
      - main

concurrency:
  cancel-in-progress: false
  group: '${{ github.workflow }}-${{ github.ref_name }}'

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest
    outputs: 
      sem-ver: ${{ steps.generate.outputs.sem-ver }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Generate version
        id: generate
        uses: ./.github/actions/version/generate
        with:
          flow-type: 'GITHUB_FLOW'

  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - generate
    permissions:
      contents: write
    env:
      tag: v${{ needs.generate.outputs.sem-ver }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
          token: ${{ secrets.GH_RELEASE_PAT }}

      - name: Tag
        uses: ./.github/actions/release/tag
        with:
          ssh-private-key: '${{ secrets.GH_SIGNING_SSH_PRIVATE_KEY }}'
          ssh-public-key: '${{ secrets.GH_SIGNING_SSH_PUBLIC_KEY }}'
          tag: '${{ env.tag }}'
          user-email: '${{ secrets.GH_SIGNING_SSH_USER_EMAIL }}'
          user-name: '${{ secrets.GH_SIGNING_SSH_USER_NAME }}'

      - name: Release
        uses: ./.github/actions/release/create
        with:
          tag: '${{ env.tag }}'
          token: '${{ secrets.GITHUB_TOKEN }}'

      - name: Notify
        uses: ./.github/actions/release/notify
        with:
          google-chat-webhook-url: '${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}'
          tag: '${{ env.tag }}'
