name: Notify PR

on:
  pull_request:
    types:
      - opened
      - reopened

jobs:
  pull-request:
    name: Notify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Google Chat
        id: generate
        uses: ./.github/actions/notify/pull-request
