name: Notify PR

on:
  workflow_call:
    secrets:
      google-chat-webhook-url:
        description: The URL for sending messages to Google Chat
        required: true

jobs:
  notify:
    name: Send notification
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google Chat
        if: ${{ always() }}
        uses: SimonScholz/google-chat-action@main
        with:
          webhookUrl: ${{ secrets.google-chat-webhook-url }}
          title: 'Pull request ${{ github.event.action }}'
          subtitle: ${{ github.event.pull_request.title }}
