name: Notify PR

on:
  pull_request:
    types:
      - opened
      - reopened
  workflow_call:
    secrets:
      google-chat-webhook-url:
        required: true

jobs:
  notify:
    name: Send notification
    runs-on: ubuntu-latest
    concurrency:
      cancel-in-progress: false
      group: pull-request-notify-${{ github.ref_name }}
    steps:
      - name: Notify Google Chat
        if: ${{ always() }}
        uses: SimonScholz/google-chat-action@main
        with:
          webhookUrl: ${{ secrets.google-chat-webhook-url != '' && secrets.google-chat-webhook-url || secrets.GOOGLE_CHAT_WEBHOOK_URL }}
          title: 'Pull request ${{ github.event.action }}'
          subtitle: ${{ github.event.pull_request.title }}
