name: Apply

on:
  workflow_call:
    inputs:
      artifact-name:
        description: The name of the artifact to download for the apply step.
        required: true
        type: string
      environment:
        description: The target environment where the apply operation will be executed (e.g., staging, production).
        required: true
        type: string
      apply-args:
        description: Additional arguments to pass to the tofu apply command.
        required: false
        type: string
      oidc-role-arn:
        description: The ARN of the OIDC role to assume for AWS credentials.
        required: true
        type: string
      region:
        description: The AWS region to use for the apply operation.
        required: true
        type: string
      version:
        description: The version of OpenTofu to install.
        required: false
        type: string
        default: 1.8.1
    secrets:
      apply-args:
        description: Additional arguments to pass to the tofu apply command.
        required: false

jobs:
  apply:
    name: Apply
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ inputs.oidc-role-arn }}
          aws-region: ${{ inputs.region }}
      - name: Download ${{ inputs.artifact-name }}
        uses: cupel-co/actions/artifact/download@v0.5.0
        with:
          name: ${{ inputs.artifact-name }}
      - name: Install OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ inputs.version }}
      - name: Apply
        shell: pwsh
        run: |
          ls -al
          tofu apply -no-color -auto-approve -lock=true ${{ inputs.apply-args }} ${{ secrets.apply-args }} "plan.tfplan"
        env:
          TF_IN_AUTOMATION: 1
          TF_INPUT: 0
