name: Apply

on:
  workflow_call:
    inputs:
      artifact-name:
        required: true
        type: string
      environment:
        required: true
        type: string
      apply-args:
        required: false
        type: string
      name:
        required: true
        type: string
      oidc-role-arn:
        required: true
        type: string
      version:
        required: false
        type: string
        default: 1.8.1
      region:
        required: true
        type: string

jobs:
  apply:
    name: Apply ${{ inputs.name }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ inputs.oidc-role-arn }}
          aws-region: ${{ inputs.region }}
      - name: Download ${{ inputs.artifact-name }}
        uses: cupel-co/actions/artifact/download@v0.5.0
        with:
          name: ${{ inputs.artifact-name }}
      - name: Install OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ inputs.version }}
      - name: Apply
        shell: pwsh
        run: |
          ls -al
          tofu apply -no-color -auto-approve -lock=true ${{ inputs.apply-args }} "plan.tfplan"
        env:
          TF_IN_AUTOMATION: 1
          TF_INPUT: 0
