name: Preview

on:
  pull_request:
    types: 
      - opened
      - reopened
      - synchronize

concurrency:
  cancel-in-progress: false
  group: '${{ github.workflow }}-${{ github.ref_name }}'

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - name: Generate version
        id: generate
        uses: ./.github/actions/version/generate
        with:
          flow-type: 'GITHUB_FLOW'
