name: Release

on:
  push:
    branches:
      - main

concurrency:
  cancel-in-progress: false
  group: ${{ github.workflow }}-${{ github.ref_name }}

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest
    outputs: 
      sem-ver: ${{ steps.generate.outputs.sem-ver }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Generate version
        id: generate
        uses: ./.github/actions/version/generate

  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - generate
    permissions:
      contents: write
    env:
      tag: v${{ needs.generate.outputs.sem-ver }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Create
        uses: ./.github/actions/github/tag
        with:
          gpg-key: "${{ secrets.GH_GPG_PRIVATE_KEY }}"
          gpg-password: "${{ secrets.GH_GPG_PRIVATE_KEY_PASSWORD }}"
          tag: ${{ env.tag }}
      - name: Create
        uses: ./.github/actions/github/release
        with:
          tag: ${{ env.tag }}
      - name: Notify
        uses: ./.github/actions/notify/release
        with:
          google-chat-webhook-url: "${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}"
          tag: ${{ env.tag }}
