name: Tag

on:
  workflow_call:
    inputs:
      tag:
        description:
        required: true
        type: string
    secrets:
      gh-gpg-private-key:
        description: The private GPG key used for signing the Git tag.
        required: true
      gh-gpg-private-key-password:
        description: The passphrase for the GPG private key.
        required: true
      google-chat-webhook-url:
        description: The webhook URL to send notifications to Google Chat.
        required: true

jobs:
  tag:
    name: Tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.gh-gpg-private-key }}
          passphrase: ${{ secrets.gh-gpg-private-key-password }}
          git_user_signingkey: true
          git_tag_gpgsign: true
      - name: Create and push tag
        run: |
          git tag -s ${{ inputs.tag }} -m "${{ inputs.tag }}"
          git push origin tag ${{ inputs.tag }}
      - name: Generate changelog
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ inputs.tag }}
          writeToFile: false
          includeInvalidCommits: true
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          body: "${{ steps.changelog.outputs.changes }}"
          tag_name: ${{ inputs.tag }}
          make_latest: true
      - name: Notify Google Chat
        if: ${{ always() }}
        uses: SimonScholz/google-chat-action@main
        with:
          webhookUrl: '${{ secrets.google-chat-webhook-url }}'
          title: Released ${{ inputs.tag }}
          subtitle: ${{ github.event.head_commit.message }}
          jobStatus: '${{ job.status }}'
