name: TFLint

on:
  workflow_call:
    working-directory:
      required: false
      type: string
      default: ./infrastructure

concurrency:
  cancel-in-progress: false
  group: ${{ github.workflow }}-${{ github.ref_name }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Install
        uses: terraform-linters/setup-tflint@v4
      - name: Init
        shell: pwsh
        working-directory: ${{ inputs.working-directory }}
        run: |
          tflint --init
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Run
        shell: pwsh
        working-directory: ${{ inputs.working-directory }}
        run: |
          tflint -f compact
